# Node
node_modules/
pnpm-lock.yaml

# Build
dist/
build/

# OS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite caches
*.local

# Project build outputs
projects/*/dist
projects/*/build

# IDE
.vscode/
.idea/
