* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #c9dffc, white);
}

.navbar-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-items {
  font-size: 20px;
  text-decoration: none;
  color: #525252;
}
.link-items:hover {
  color: #000000;
  border-bottom: 2px solid #3b82f6;
}

.btn {
  all: unset;
  /* Reset all the default button styles */
  font-size: 20px;
  padding: 4px 8px;
  background-color: #3b82f6;
  color: white;
  border-radius: 4px;
  text-shadow: 0 0.25px 0.25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.badge {
  background-color: #9ca3af;
  font-size: 6px;
  max-width: 160px;
  border-radius: 50%;
  padding: 4px 6px;
  width: fit-content;
  margin: 0 auto;
}
